.custom-bundle-card{
  width: 120px;
  height: 253px;
  display: flex;
  flex-direction: row;
}
.custom.product-form__input--pill input[type=radio]+label {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  border-radius: 6px;
  border: 0.5px solid #CCCCCC;
  background-color: white;
  color: #000000;
}
.custom.product-form__input--pill input[type=radio]:checked+label {
  background-color: #F68F1E1A;
  border-color: #F68F1E;
  color: #000000;

}

.custom.product-form__input--pill input[type=radio]+label:hover {
  border-color: #F68F1E;

}
.custom.product__inventory{
  height: 52px;
}